/* Color Palette:  https://colorhunt.co/palette/2763 */
$color-black: #222831;
$color-grey: #393e46;
$color-turquoise: #00ADB5;
$color-dark: #eeeeee;

// $color-1:  #222831;
// $color-2:  #393e46;
// $color-3:  #00ADB5;
// $color-4:  #eeeeee;

/* Color Palette:  https://colorhunt.co/palette/238 */
$color-1: #2b2e4a;
// $color-2: #53354a;
$color-2: #903749;
$color-3: #eeeeee;
// $color-3: #e84545;
$color-4: #903749;

